@page "/parties"
@inject HttpClient http
@inject IJSRuntime JsRuntime

<h3>Party Type Index</h3>

<div class="form-group">
        <a class="btn btn-success" href="parties/create">New Party Types</a>

        <a class="btn btn-primary" href="parties/list">Show Party Types</a>
</div>

@code {

}
