@page "/receipts"
@inject HttpClient http
@inject IJSRuntime JsRuntime

<h3>Receipts Page</h3>

<div class="form-group">
        <a class="btn btn-success" href="receipts/create">New Receipt</a>

        <a class="btn btn-primary" href="receipts/list">Show Receipt</a>
</div>

@code {

}
